body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
nav {
    background-color: #256091;
}
.m-link{
    display: block;
    padding: 20px;
}
.m-link:hover {
    background-color: #112C41;
    padding: 20px;
}
#detail{
    background-color: #112C41;
    display: grid;
    grid-template-columns: .5fr auto minmax(600px, 3fr) 2fr;
}
#logo{
    width: 100%;
    height: auto;
}
#cntc{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: right;
    padding:4% 0 4% 0;
}
#cntc p{
    margin: 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-right: 10%;
}
a{
    text-decoration: none;
    color: white;
}
#legit{
    width: 40%;
    margin: 0;
    grid-column: 3/4;
}
#topbtn{
    display: none;
    position: fixed;
    font-size: 30px;
    top: 90vh;
    right: 5vw;
    height: 50px;
    width: 50px;
    border: 3px solid #256091;
    border-radius: 50%;
    color: white;
    background-color: #256091;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5)
}
.nav-toggle, .nav-toggle-label{
   display: none;
}
#Contact{
    background-color: #256091;
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
}
.quick-link{
    margin: 0;
    list-style: none;
    padding: 0;
}
.address{
    margin: 0;
    text-align: right;
    display: flex;
    width: 160px;
    align-items: center;
    margin: 0 10% 0 auto;
}
.quick{
    font-size: 17px;
    font-weight: normal;
}
.b-link:hover {
    color: #d9aeae;
}
.links{
    padding-left: 9%;
    width: 120px;
}
footer {
    background-color: #112C41;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 14px;
}
.active{
    background-color: #112C41;
}
@media screen and (max-width: 900px){
   #legit{
       width: 35%;
       margin-left: 10px;
   }
    #cntc{
        display: none;
    }
    nav ul {
        all: unset;
        list-style: none;
        display: none;
        margin: auto;
    }
    .nav-toggle:checked ~ nav ul{
        display: block;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav a{
        margin: 0;
    }
    .nav-toggle-label{
        position: absolute;
        top: 40px;
        left: 90%;
        display: block;
        
    }
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        display: block;
        height: 3px;
        width: 2em;
        border-radius: 2px;
        background-color:white;
        position: relative;
    }
    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        content: "";
        position: absolute;
    }
     .nav-toggle-label span::before{
         bottom: 7px;
     }
     .nav-toggle-label span::after{
         top: 7px;
     }
    #Contact{
        padding: 20px 0;
    }
    .links{
        padding-left: 5%;
    }
    .address{
        margin: 0 5% 0 auto;
    }
    footer{
        font-size: 12px;
    }
}
@media screen and (max-width: 500px){
    .nav-toggle-label{
        left: 85%;
    }
    #Contact{
        font-size: 15px;
    }
    .links{
        padding-left: 2%;
    }
    .address{
        margin: 0 1% 0 auto;
    }
}